<div class="container">
  <div class="demo">
    <div class="card">
      <h1>ngs-plural demo</h1>
      <div class="form-group">
        <label for="language-select">Choose Language:</label>
        <select
          id="language-select"
          [formControl]="languageControl"
          class="input"
        >
          @for (lang of availableLanguages; track $index) {
            <option [value]="lang">
              {{ lang }}
            </option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="count-input">Enter Count:</label>
        <input
          id="count-input"
          type="number"
          [formControl]="countControl"
          class="input"
        />
      </div>
    </div>
  </div>

  <div class="use-cases">
    <app-use-cases
      [count]="count()!"
      [lang]="language()!"
      [langWordForms]="appleForms"
      [instant]="'APPLES'"
    ></app-use-cases>
  </div>
</div>
